{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('api.auth_register') }}" method='POST'>
    <div class="field">
        <label class="label">{{ _('Email') }}</label>
        <div class="control">
            <input name="email" class="input" type="email" placeholder="{{ _('Email') }}">
        </div>
    </div>

    <div class="field">
        <label class="label">{{ _('Password') }}</label>
        <div class="control">
            <input name="password" class="input" type="password" placeholder="{{ _('Password') }}">
        </div>
    </div>

    <div class="field">
        <label class="label">{{ _('Password (again)') }}</label>
        <div class="control">
            <input name="password_again" class="input" type="password" placeholder="{{ _('Password (again)') }}">
        </div>
    </div>    
    
    <div class="control">
        <button type='submit' class="button is-link">{{ _('Register') }}</button>
    </div>
</form>
{% endblock %}