<html>
    <head>
        <meta charset="utf-8">
        <meta name="Description" CONTENT="{{ config['APP_DESCRIPTION'] }}">
        <title>{{ config['APP_TITLE'] }}</title>
        <link rel="icon" href="/static/img/icon.png"/>
        <meta name="robots" content="noindex,nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:url" content="/" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{ config['APP_TITLE'] }}" />
        <meta property="og:description" content="{{ config['APP_DESCRIPTION'] }}" />
        <meta property="og:image" content="/static/img/logo_sm.png" />
        {{ stylesheet_tag('app') | safe }}
        {% block style %}{% endblock %}
    </head>
    <body>
        {% block content %} {% endblock %}

        {{ javascript_tag('vendor', 'app') | safe }}
        {% block scripts %}{% endblock %}
    </body>
</html>